@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Setting font and box sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.hero-image {
    position:absolute;
    border-radius: 50%; /* Makes the image round */
    background: #F3F4F6; /* Cream color background */
    overflow: hidden; /* Ensures no overflow */
    top: 5px; /* Distance from the top of the header */
    left: 5px; /* Distance from the left side of the page */
    flex-shrink: 1;
    min-width: none;
    min-height: auto;
}

.hero-image img {
    width: auto;
    height: 100px;
    object-fit: back;
    display: block; /* Removes bottom space/gap */
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F3F4F6; /* Cream */
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #008080; /* Teal */
    color: #F3F4F6; /* Cream */
    padding: 1rem 2rem;
    position: relative; 
    height: 100px; 
    overflow: hidden; 
    position: fixed;
    z-index: index 99;
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    flex-grow: 1;
}

nav ul li {
    margin-left:0 20px;
    padding-inline: 15px;
}

nav ul li a {
    color: #36454F; /* Charcoal Gray */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    color: #FFDB58; /* Mustard Yellow */
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #252525;
}

p {
    color: #3a3a3a;
}

@media (max-width:400px) {
    .hero-image {
        display: none;
    }
    nav ul li {
        justify-content: center;  
    }
}