@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Setting font and box sizing for all elements */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#hero-image {
    background-image: url('/assets/images/chef0mat.webp');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 200px; /* Set the width of the image */
    height: 200px; /* Set the height of the image */
    top: 0; /* Adjust the top position to place it half above and half below the header */
    left: 7; /* Center the image */
    border-radius: 50%; /* Makes the image round */
    z-index: 15; /* Lower than the header to allow text to scroll under it */
    /* box-shadow: 1px 1px #3a3a3a;  */
}

header {
    background-color: rgb(110, 169, 160); /* Teal */
    color: #F3F4F6; /* Cream */
    padding: 1rem 2rem; 
    position: fixed; 
    height: 100px; 
    overflow: hidden; 
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    display: flex;
    justify-content: flex-end; */
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    flex-grow: 1;
}

nav ul li {
    margin-left:0 20px;
    padding-inline: 15px;
}

nav ul li a {
    color: #36454F; /* Charcoal Gray */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    color: rgb(250, 213, 134); /* Mustard Yellow */
}


main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 217); /* Cream */
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    text-align: center;
}

#welcome {
    padding-top: 100px;
    padding-left: 200px;
    text-align: center;
}

footer {
    background-color: rgb(110, 169, 160); /* Teal */
    height: 100px; 
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    z-index: 100;
}

@media (max-width:400px) {
    .hero-image {
        display: none;
    }
    nav ul li {
        justify-content: center;  
    }
}